version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:lts-jdk11
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    environment:
      JAVA_OPTS: -Djenkins.install.runSetupWizard=false
  tomcat:
    image: tomcat:9.0-jdk11-openjdk
    restart: unless-stopped
    ports:
      - "8081:8080"
    volumes:
      - ./tomcat-users.xml:/usr/local/tomcat/conf/tomcat-users.xml:ro
volumes:
  jenkins_home:
